<%= simple_form_for(@book, html:{class: "form-signin"} ) do |f| %>
  <%= f.error_notification %>

 
    <%= f.input :name, require: true, label: false, placeholder: "name", input_html: { class:"form-control" } %>
    <%= f.input :author, require: true, label: false, placeholder: "author", input_html: { class:"form-control" } %>
    <%= f.input :description, require: true, label: false, placeholder: "description", input_html: { class:"form-control", rows: 5 } %>
    <%= f.input :price, require: true, label: false, placeholder: "price", input_html: { class:"form-control" } %>
   
   <div class="checkbox text-center">
    <%= f.input :availability, require: true %>
  </div>
 
    <%= f.button :submit, class: "btn btn-primary btn-block" %>
  
<% end %>
